version: '3.5'
services:
  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./html:/var/www/html
      - ./nginx.default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - db
      - php
      - es
    links:
      - es
      - db
      - php
    networks:
      - network1

  php:
    build: ./php
    container_name: ${STORE_PREFIX}_php
    volumes:
      - ./html:/var/www/html
      - ${COMPOSER_CACHE_PATH}:/var/www/.composer
    depends_on:
      - db
    links:
      - db
    networks:
      - network1

  db:
    image: mysql:5.7
    container_name: ${STORE_PREFIX}_db
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=${STORE_PREFIX}_db
    volumes:
      - ./mysql:/var/lib/mysql
      - ./:/docker
    networks:
      - network1
    command: --max_allowed_packet=32505856

  redis:
    image: redis
    ports:
      - 6379
    networks:
      - network1

  es:
    build: ./elastic
    ports:
      - "9200:9200"
    volumes:
      - ./elastic/esdata:/usr/share/elasticsearch/data
    networks:
      - network1
    environment:
      - discovery.type=single-node

  mailhog:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
    networks:
      - network1
networks:
  network1:
    name: ${STORE_PREFIX}-network
    driver: bridge